* {
    box-sizing: border-box;
}

table{
    width:100%;
    border-collapse: collapse; 
    height:200px;
}

th,tr{
   width:15%;
   border: 0.25em solid white; 
   background:red;
   color: white;
   
}

#testimonials{
   margin-bottom: 100px;
}

@media screen and (max-width: 600px){ 
    th,tr{
        width:5%;
		border: 0.15em solid white; 
    }
}