*{
    font-family: 'Roboto', sans-serif;
}

body,html {
    margin: 0;
    height:100%;
}

h1{
	font-size: 2em;
}

p,table{
	font-size: 1.5em;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

header{
    min-height:62px;
}

nav{
    position: fixed;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color:grey;
    color:black;
}

ul.topnav li a.active {background-color: red;}

ul.topnav li.right {float: right;}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
     
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

footer {
    background-color:black;
    width:100%;
    text-align: center;
    bottom: 0;
}

#banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("New-York-City-Night-Wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height: 350px;
    text-align: center;
}

.banner-text{
    color: white;
    font-size: 2em;
    display:inline-block; 
}
  
#myBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration:none;
	font-size: 1.2em;
}
  
#myBtn:hover {
    background-color: grey;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
    #banner-image{
        margin-top:127px;
    }
	
	.banner-text{
		color: white;
		font-size: 1.5em;
		display:inline-block; 
	}
}





 